<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>海投网-招聘</title>
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/bootstrap-select.min.css" type="text/css">

    <link rel="stylesheet" href="../build/css/index.css" type="text/css">
    <script src="../dist/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../dist/js/bootstrap-select.min.js"></script>
    <script src="../dist/js/angular.min.js"></script>
    <script src="../dist/js/lrz.all.bundle.js"></script>
    <script src="../dist/js/mobileBUGFix.mini.js"></script>
    <script src="../build/js/scroll.js"></script>
    <script src="../build/js/index.js"></script>
</head>
<body ng-controller="indexCtrl">
<div class="page-1">
    <div class="content-1">
        <img style="width:100%;" src="../image/bgPoint_03.png">
        <img class="hai-tou" src="../image/haitou.png" >
        <img class="student" src="../image/student.png">
    </div>

    <img class="tree" src="../image/tree.png" ><br>
    <div class="yubei-div">
        <img class="arr-left" src="../image/arr-left.png" >
        <img class="yubei" src="../image/yubei.png">
        <img class="arr-right" src="../image/arr-right.png" >
    </div>
    <img class="point" src="../image/point.png"><br>
    <div class="page1-p-div1">
        <p class="page1-p1">海投网是专业面向全国大学生求职网站</p>
        <p class="page1-p2">为应届生提供</p>
        <p class="page1-p3">最全面、准确、有效的招聘信息。</p>
    </div>

    <img class="point" src="../image/point.png"><br>
    <div class="page1-p-div2">
        <p class="page1-p4">在百度、谷歌、搜狗等国内外搜索引擎中</p>
        <p class="page1-p5">搜索"宣讲会"等关键词，自然排名第一。</p>
    </div>


    <div class="logo-point">
        <img class="point-four" src="../image/jianbian02.png">
    </div>
</div>
<div id="page-2" class="page-2">
    <div class="city">
        <img class="position" src="../image/position.png">
        <div class="form-group select-city">
            <p>请选择您就读学校的城市</p>
            <div class="form-group city-option">
                <select id="basic"
                        ng-model="selectedCity"
                        ng-options="city.name as city.name for city in city"
                        ng-change="changeCity(selectedCity)"
                        class="selectpicker show-tick form-control">

                    <!--<option ng-repeat="cityEle in city" ng-cloak>{{cityEle.name}}</option>-->
                </select>
            </div>
        </div>
    </div>
    <div class="profile-div profile1-div">
        <img class="profile profile1" src="../image/profile1.png" >
    </div>
    <p class="station">直播录音岗 - 2600元/月起</p>
    <p class="shi-xi">实习（9月中-11月中，国庆休假）</p>

    <div class="require-div require-div1">
        <span class="describe-span">招聘对象：</span>
        <p class="describe-p">在校大学生，学历不限.</p><br>
    </div>
    <div class="require-div">
        <span class="describe-span">岗位要求：</span>
        <p class="describe-p">1. 积极、负责、机灵、细心、靠谱.</p>
        <p class="describe-p requireP12">2. 确保每天上午/下午/晚上有1-2个时段可以工作.</p>
    </div>
    <div class="require-div">
        <span class="describe-span">工作内容：</span>
        <p class="describe-p">负责在本地高校举办的重要场次宣</p>
        <p class="describe-p requireP12">讲会的录音工作.</p>
    </div>
    <div class="require-div">
        <span class="describe-span">福利待遇：</span>
        <p class="describe-p">1. 坐着工作的同时了解大公司的宣讲.</p>
        <p class="describe-p requireP12">2. 公司配专用手机，只需要付出脑力.</p>
        <p class="describe-p requireP12">3. 每月圆满完成任务额外400元奖金.</p>
        <p class="describe-p requireP12">4. 实习经历证明.</p>
    </div>

    <div class="enlist1-div">
        <div class="enlist"></div>
        <a ng-show="isExistJob" class="jump-btn1 enroll-btn" ng-click="enrollClick(0)">我要报名</a>
        <!--<a ng-show="!isExistJob" class="enroll-btn disable-btn">本地无该职位</a>-->
    </div>


    <!-- 网宣岗-->
    <div class="profile-div profile-div2">
        <img class="profile profile2" src="../image/profile2.png" >
    </div>
    <p class="station station2">运营网宣岗 - 80元/时起</p>
    <p class="shi-xi">岗位性质：兼职</p>

    <div class="require-div require-div1">
        <span class="describe-span">招聘对象：</span>
        <p class="describe-p">全国百所211高校2013级在校学生.</p><br>
    </div>
    <div class="require-div">
        <span class="describe-span">岗位要求：</span>
        <p class="describe-p">1. 积极、负责、机灵、细心、靠谱.</p>
        <p class="describe-p requireP12">2. 性格外向，人脉广，学生干部优先.</p>
    </div>
    <div class="require-div">
        <span class="describe-span">工作内容：</span>
        <p class="describe-p describe-p2">负责将宣讲会信息发至QQ群等社交平 台，受众不抵触，简单易完成。首次工 作之后每次大概只需两小时，纯线上工 作，轻松收入200.</p>
    </div>

    <div class="enlist1-div">
        <div class="enlist"></div>
        <a class="jump-btn2 enroll-btn" ng-click="enrollClick(1)">我要报名</a>
        <!--<a class="enroll-btn disable-btn" >本地无该职位</a>-->
    </div>


    <!-- 线下运营岗-->
    <div class="profile-div profile-div2">
        <img class="profile profile2" src="../image/profile3.png" >
    </div>
    <p class="station station2">线下运营岗 - 30元/时起</p>
    <p class="shi-xi">岗位性质：兼职</p>

    <div class="require-div require-div1">
        <span class="describe-span">招聘对象：</span>
        <p class="describe-p">在校大学生.</p><br>
    </div>
    <div class="require-div">
        <span class="describe-span">岗位要求：</span>
        <p class="describe-p">1. 积极、负责、机灵、细心、靠谱.</p>
        <p class="describe-p requireP12">2. 有相关兼职经验者优先.</p>
    </div>
    <div class="require-div">
        <span class="describe-span">工作内容：</span>
        <p class="describe-p describe-p2">在宣讲会现场为学生发放招聘及宣讲会 汇总宣传单, 人流量大，工作轻松. .</p>
    </div>

    <div class="enlist1-div">
        <div class="enlist"></div>
        <a class="jump-btn3 enroll-btn"  ng-click="enrollClick(2)">我要报名</a>
        <!--<a class="enroll-btn disable-btn" >本地无该职位</a>-->
    </div>
</div>
<div id="page-3" class="page-3">
    <div class="form-title-div">
        <p class="form-title-p">报名表</p>
    </div>
    <form name="userInfo"  class="form-data" novalidate>
        <div class="row">
            <label class="row-label">职位</label>
            <div class="form-group city-option">
                <select id="basic2" name="position"
                        ng-model="selectedPosition"
                        ng-change="changePosition(selectedPosition)"
                        ng-options="position.name as position.name for position in position"
                        class="selectpicker show-tick form-control row-data job">
                </select>
            </div>
        </div>
        <div class="row">
            <label class="row-label">学校</label>
            <div class="row-input">
                <input class="university" name="college" ng-model="info.college" type="text" placeholder="请填写您就读的学校" required>
            </div>
        </div>
        <div class="row row-grade">
            <label class="row-label">年级</label>
            <div class="form-group city-option">
                <select id="basic3" name="grade" ng-model="info.grade" class="selectpicker show-tick form-control row-data grade">
                    <option ng-repeat="grade in grade" ng-bind="grade.name"></option>

                </select>
            </div>
        </div>
        <div class="row row-name">
            <label class="row-label">姓名</label>
            <div class="row-input">
                <input class="name" name="name" ng-model="info.name" type="text" placeholder="请填写您的姓名" ng-minlength="2" required>
            </div>
        </div>
        <div class="row row-sex">
            <label class="row-label">性别</label>
            <div class="form-group city-option">
                <select id="basic4" name="sex" ng-model="info.sex"  class="selectpicker show-tick form-control row-data sex">
                    <option class="sex-1">男</option>
                    <option class="sex-2">女</option>
                </select>
            </div>
        </div>
        <div class="row row-phone">
            <label class="row-label">电话</label>
            <div class="row-input">
                <input class="phone-number" name="phone" ng-model="info.phone" type="text" placeholder="请填写您的手机号码" ng-pattern="/^1[3|4|5|7|8]\d{9}$/">
            </div>
        </div>
        <div class="row">
            <label class="row-label">照片</label>
            <div id="fileDiv" class="person-picture">
                <div class="picture-logo">
                    <img class="person-logo" src="../image/picture.png">
                    <img src="../image/addPicture.png">
                </div>
                <p class="picture-p">点击添加手持学生证照片</p>
                <img id="pictureShow" src="" width="100%" height="100%">
                <a href="javascript:" class="a-upload">
                    <input id="file" name="file" type="file" accept="image/*" />
                </a>
            </div>
            <p class="remark">备注：请提交一张本人手持学生证信息页的照片 (10M以内)保证放大后可以清晰看到姓名及学生证 上面证件照。</p>
        </div>
    </form>
    <div class="submit">
        <div class="submit-div"></div>
        <a class="btn submit-btn" ng-click="submit()">提交</a>
    </div>
    <p class="copyright">Copyright © 2011- 2016 Haitou. All Rights Reserved.</p>
</div>


</body>
</html>